html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  @include ubuntu();
  color: $black;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-width: 940px;
  min-height: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.section {
  height: 100vh;
  min-height: 650px;

  &_centered {
    .section-title {
      width: 100%;
      text-align: center;
    }
    .container {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    padding: 6.5px;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}
