.reviews {
  background: #000;
  position: relative;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reviews__item {
  position: relative;
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(100%);

  &:hover {
    .reviews__item-hover {
      opacity: 1;
    }
  }
}

.reviews__item-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, .5);
  padding: 25px;
  padding-left: 15px;
  color: #fff;
  opacity: 0;
  transition: opacity .3s;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.reviews__title {
  @include gagalin;
  font-size: 14px;
}

.reviews__text {
  @include ubuntu($style: light);
  font-size: 14px;
  line-height: 24px;
}
