.best {
  background: url('../images/best_bg.png') center center no-repeat;
  background-size: cover;
}

.best__list {
  display: flex;
  align-items: baseline;
}

.best__item {
  flex: 1;
  padding-right: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &:last-child {
    margin-right: 0;
  }
}

.best__image {
  padding-bottom: 20px;
}

.best__icon {
  display: inline-block;
}

.best__content-title {
  @include lifehack()

  font-size: 24px;
  padding-bottom: 15px;
}

.best__content-text {
  @include ubuntu($style: light);

  font-size: 14px;
  line-height: 20px;
}
