.hero {
  background: url('../images/hero_bg.png') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__order-btn {
  margin-left: 15px;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.73;
  padding-left: 15px;
}

.hero__content-text {
  @include lifehack()

  color: #fff;
  font-size: 64px;
  line-height: 60px;
}

.hero__content-description {
  margin-left: 12px;
  padding-top: 65px;
}

.arrow-down {
  width: 35px;
  height: 25px;
  position: absolute;
  bottom: 35px;
  left: 48%;
}

.arrow-down__link {
  background: url('../images/arrow-scroll.png') center center no-repeat;
  display: block;
  width: 100%;
  height: 100%;
}
